doctype strict
html(xmlns='http://www.w3.org/1999/xhtml')
  head
    meta(http-equiv='Content-Type', content='text/html' charset='utf-8')
    title ForS24
    meta(name='keywords', content='')
    meta(name='description', content='')
    link(href='http://fonts.googleapis.com/css?family=Chivo:400,900', rel='stylesheet')
    link(rel='stylesheet', href='/stylesheets/default.css')
    link(rel='stylesheet', href='/stylesheets/fonts.css')

  body
    #wrapper
      #header-wrapper
        #header.container
          #logo
            h1
              a(href='/') ForS
            h1#two
              a(href='/') 2
            h1#four
              a(href='/') 4
      #menu-wrapper
        #menu.container
          ul
            li
              a(href='/event') 행사상품
            li
              a(href='/price') 장바구니
            li
              a(href='/search') 편의점 위치
            li
              a(href='/explain') 홈페이지 설명

    // 편의점 별 선택 카테고리
    #priceBanner
      ul
        li.emart
          a(href='/price/emart') 이마트에브리데이
        li.gs25
          a(href='/price/GS25') GS25
        li.sevenEleven
          a(href='/price/seveneleven') 세븐일레븐
        li.cart
          a(href='/cart') 장바구니
    //- #eventBanner2
    //-   ul
    //-     li
    //-       a(href='/price/1' onclick="var currentEvent = `#{currentEvent}`; currentEvent = 1; " ) 1+1
    //-     li 
    //-       a(href='/price/2' onclick="var currentEvent = `#{currentEvent}`; currentEvent = 2; ") 2+1
    //-     li 
    //-       a(href='/price/0' onclick="var currentEvent = `#{currentEvent}`; currentEvent = 0; ") 덤증정

    div
      #productCategory
      ul
        each p in prod 
          li.total
            <img src=  #{p.p_image}>
            p.productName #{p.p_name}  
            p.productPrice #{p.p_price}
            form(action= `/price/${p.p_name}/${p.p_brand}?_method=POST`, name='datalist', method='POST')
              input(type='number', min='0', max='5', step='1', name='num' placeholder='수량')
              input(type='submit' value= '담기') 
